

    body
    {
        font-family: 'Yomogi', cursive;
        margin:auto;
    }
    p
    {
        text-align: justify;  
    }
    h1
    {
        font-size: 50px;
    }

    
    .orange-color{
    color: orange;
    }

    .half-width{
    width: 50%;
    padding: 5%;
    }

    .half-width img{
        width: 70%;
    }

    .link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: rgb(38, 101, 196);
    font-weight: 700;
    padding: 1% ;
    border-radius: 13px;

    }
    
    
    .section1-bg
    {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }

    .section2-bg
    {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    }

    .section3-bg
    {
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }

    .flexible-container
    {
        display: flex;
        margin-bottom: 200px;
    }

    .div-box
    {
    margin-left: 10%;
    margin-right: 5%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 10px rgb(181, 174, 174);
    border-left: 5px solid rgb(109, 216, 42);
    }

    
    #diff-color{
    border-left: 5px solid blue;
    border-image-slice:20;
    }

    footer p{
    text-align: center;
    }